* {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    background: #00bcd4;
    width: calc(100vw - 20px);
    height: 60px;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: -5px 0 8px 0 #000000;
    transition: all .9s;
}

.button {
    padding: 10px;
    align-items: center;
    background: #00bcd4;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    transition: background-color .6s;
    cursor: pointer;
    border: none;
}

.button:hover {
    background: #0097a8;
}

.header.open {
    height: 120px;
}

.header.open .login {
    opacity: 1;
    transition: opacity 2.5s;
}

.header .login {
    opacity: 0;
    transition: opacity .2s;
    display: flex;
    width: calc(100vw - 20px);
    align-items: center;
    justify-content: flex-end;
}

.header .login input, .header .login button {
    background: #00bcd4;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    outline: none;
    transition: all .6s;
}

.header .login button:hover {
    background: white;
    color: #00bcd4;
}

.header .login button {
    margin-right: 20px;
    cursor: pointer;
}

.header .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h3 {
    margin: 1em;
    color: #fff;
    font-weight: 400;
}

.header h3 span {
    font-weight: 700;
}

.header span {
    color: white;
    padding-right: 20px;
    cursor: pointer;
}

.container {
    background: rgba(0, 0, 0, 0.05);
    padding: 20px;
    border-radius: 10px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.passengers {

}

.titles {
    font-weight: bold;
}

.pages {
    display: flex;
    justify-content: space-around;
}

.pages span {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00bcd4;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    transition: background-color .6s;
    cursor: pointer;
}

.query span {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00bcd4;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    transition: background-color .6s;
    cursor: pointer;
}

.pages span:hover, .query span:hover, .query button:hover {
    background: #0097a8;
}

.hide {
    visibility: hidden;
}

.passenger {
    display: grid;
    grid-template-columns: 40px 500px 80px 100px 100px auto 110px 80px 50px;
    margin-bottom: 10px;
    font-size: 1.08rem;
}

.query {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons span {
    margin-right: 10px;
}

.buttons span.secondary {
    background: #929292;
}

.query button {
    background: #00bcd4;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 10px;
    transition: background-color .6s;
    cursor: pointer;
}

.buttons span.secondary:hover {
    background: #717070;
}

.error {
    color: red;
}


.create {
    display: flex;
    transform: translateX(-400%);
    flex-direction: column;
    height: 0;
    transition: all 2s;
    border-radius: 10px;
    width: 200px;
}

.create.open {
    height: 300px;
    background: white;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    transform: translateX(0);
}

.create input[type="text"], .create select, .create input[type="number"] {
    margin-top: 10px;
    height: 30px;
    padding-left: 10px;
    outline: none;
}

.create .button {
    margin-top: 20px;
}